.AppLayoutContainer {
  min-height: 100vh;
}

.AppSidebar {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 32px 16px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.AppContent {
  padding: 32px 16px;
}
.AppFooter {
  text-align: center;
}

.AppBrand {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #4337c9;
  text-align: center;
}
.AppMenu {
  border-inline-end: none !important;
}
