@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* utilities classes start */
.p-0 {
  padding: 0px;
}

.font-medium {
  font-weight: 500;
}

.text-xs {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 24px;
}

.mt-xs {
  margin-top: 4px;
}
.mt-sm {
  margin-top: 8px;
}
.mt-md {
  margin-top: 12px;
}
.mt-lg {
  margin-top: 12px;
}

.text-align-center {
  text-align: center;
}

.w-full {
  width: 100%;
}
.justify-between {
  justify-content: space-between;
}

/* utilities classes end */
